#Custom

*.java
keyfile.*
.hidden/**


# Created by https://www.toptal.com/developers/gitignore/api/macos,windows,vim,visualstudiocode,react
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,windows,vim,visualstudiocode,react

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

